@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
*/

/*
--orange: #f0b67f;
--red: #fe5f55;
--black: #707565;
--tea-green: #c7efcf;
--light-beige: #eef5db;
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eef5db;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #707565;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #fe5f55;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #707565;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size: 1.5rem;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #fe5f55;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    border:1px solid;
    border-color: #fe5f55;
    transition: all 0.3s;
}

button:hover {
    color: #f0b67f;
    border-color: #f0b67f;
    cursor: pointer;
}

ul {
    padding:10px;
}

li {
    padding:5px;
    line-height: 30px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Hero section */

header {
    background-image: url("hero-background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
}

.hero-container {
    max-width: 660px;
    max-height:100vh;
    position: relative;
    top:0%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.hero-container h2 {
    font-size: 3rem;
}

.hero-social-links {
    font-size: large;
    display: flex;
    width: 100%;
    align-items: center;
}

.hero-social-links a {
    color:#fe5f55;
    transition: all 0.3s ease-in-out;
}

.hero-social-links a:hover {
    color:#707565;
}

.hero-container img {
    border-radius:1000px;
    padding: 50px;
    mix-blend-mode: multiply;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    min-width:25vw;
    min-height: 25vw;
    max-width:35vw;
    max-height: 35vw;
}

.hero-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for mobile view */
@media (max-width: 568px) {
    .hero-container h2 {
        font-size: 2rem !important;
    }
}

.cta-button {
    width:fit-content;
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #c7efcf;
    color: #f0b67f;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    transition: all 0.3s;
}

.cta-button:hover {
    color: #f0b67f;
    background-color: #fe5f55;
}


/* navbar */

/* Styles for desktop view */
nav {
    background-color: #eef5db;
    color: #fe5f55;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    
    padding: 1rem;
    transition: all 0.3s;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fe5f55;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f0b67f;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 1rem;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fe5f55;
    margin: 3px 0;
    transition: all 0.3s;
}

.content {
    padding: 2rem;
    transition: padding 0.3s;
}

/* Styles for mobile view */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: transparent;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
        font-size: 2rem;
        z-index: 1;
        transition: all 0.3s;
    }

    .nav-links li{
        margin-top:20px;
        margin-bottom:20px;
    }

    .nav-links.active {
        display: flex;
        background-color: #eef5db;
        height:100vh;
    }

    .menu-toggle {
        display: flex;
        z-index: 1000;
    }
}

.right-nav-links {
    min-width: max-content;
    margin: 0;
    padding:0;
}

.right-nav-links a {
    text-decoration: none;
    color:#fe5f55;
    transition: all 0.3s ease-in-out;
}

.right-nav-links a:hover {
    color:#707565;
}

.resume-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fe5f55;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0px !important;
    border-radius: 5px;
    border:1px solid;
    border-color: #fe5f55;
    transition: all 0.3s;
}

.resume-button:hover {
    color: #f0b67f;
    border-color: #f0b67f;
    cursor: pointer;
}

/* Styles for mobile view */
@media (max-width: 568px) {
    .right-nav-links {
        display: flex;
        flex-direction: column;
    }
}

.language-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #fe5f55;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0px !important;
    border:1px solid;
    border-color: #fe5f55;
    transition: all 0.3s;
}

.language-button:hover {
    color: #f0b67f;
    border-color: #f0b67f;
    cursor: pointer;
}

/* About */

#about {
    background-color: #eef5db;
}

/* Portfolio Gallery */

#portfolio {
    background-color: #eef5db;
}

.portfolio-item-red-bg {
    display: flex;
    margin-bottom: 20px;
    background-color: #fe5f55;
    color: #eef5db;
    border-radius: 10px;
}

.portfolio-item-red-bg h2 h3 {
    color: #eef5db !important;
}

.portfolio-item-red-bg button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #eef5db;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    border:1px solid;
    border-color: #eef5db;
    transition: all 0.3s;
}

.portfolio-item-red-bg button:hover {
    color:#f0b67f;
    border-color: #f0b67f;
}

.portfolio-item-green-bg {
    display: flex;
    margin-bottom: 20px;
    background-color: #c7efcf;
    color: #707565;
    border-radius: 10px;
}

.portfolio-item-green-bg h2 h3 {
    color: #707565;
}

.portfolio-item-green-bg button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #707565;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    border:1px solid;
    border-color: #707565;
    transition: all 0.3s;
}

.portfolio-item-green-bg button:hover {
    color:#fe5f55;
    border-color: #fe5f55;
}

.project-image {
    height: 300px;
    flex: 40%;
    text-align: center;
    overflow: hidden;
    padding:20px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}

.project-details {
    flex: 60%;
    text-align: left;
    padding-bottom: 20px;
}

.case-study-content {
    flex: 100%;
    text-align: left;
    margin-bottom: 120px;
    background-color: #fe5f55;
    color: #eef5db;
    border-radius: 10px;
    padding:20px;
}

/* Styles for mobile view */
@media (max-width: 768px) {
    .portfolio-item-red-bg,
    .portfolio-item-green-bg {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding:20px;
    }
  
    .project-image,
    .project-details {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  
    .project-details {
      padding: 10px;
    }
  }  

.case-study-content2 {
    flex: 100%;
    text-align: left;
    margin-bottom: 120px;
    background-color: #c7efcf;
    color: #707565;
    border-radius: 10px;
    padding:20px;
}

.hidden {
    display: none;
  }  

.case-study {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  
  .visible {
    max-height: 1000px;
  }

/* contact */

#contact {
    background-color: #eef5db;
    padding: 20px;
    border-radius: 10px;
}

.contact-form label {
    display: block;
    margin: 10px 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d6d1b1;
    border-radius: 5px;
    margin-bottom: 15px;
    caret-color: #fe5f55;
    color:#707565;
    background-color: #eef5db;
    font-family: 'Lato', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #707565;
    font-family: 'Lato', sans-serif;
}

.contact-form button {
    background-color: #d6d1b1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition to improve button hover effect */
}

.contact-form button:hover {
    color: #707565;
    background-color: #c7efcf;
}


/* Footer */
footer {
    background-color: #d6d1b1;
    text-align: center;
    padding: 10px 0;
    color: #eef5db;
}

.contact-links {
    text-align: center;
}

i {
    margin:20px;
}

#email-address {
    color:#eef5db
}

.contact-links a {
    font-size: 1.2rem;
    font-weight: 900;
    color: #fe5f55;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s;
}

.contact-links a:hover {
    color: #707565;
}


/* Styles for mobile view */
@media (max-width: 568px) {
    footer .container {
        display: flex;
        flex-direction: column;
    }
    .contact-links a {
        display: flex;
        flex-direction: column;
    }
}